/* ---- reset ---- */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Color Theme Swatches in Hex */
.Teal--Coral-Spectrum-1-hex { color: #BAF2E8; }
.Teal--Coral-Spectrum-2-hex { color: #218DA6; }
.Teal--Coral-Spectrum-3-hex { color: #FFFFF0; }
.Teal--Coral-Spectrum-4-hex { color: #FEB2AD; }
.Teal--Coral-Spectrum-5-hex { color: #F56358; }

/* Color Theme Swatches in RGBA */
.Teal--Coral-Spectrum-1-rgba { color: rgba(186, 242, 232, 1); }
.Teal--Coral-Spectrum-2-rgba { color: rgba(33, 140, 190, 1); }
.Teal--Coral-Spectrum-3-rgba { color: rgba(255, 255, 239, 1); }
.Teal--Coral-Spectrum-4-rgba { color: rgba(253, 177, 172, 1); }
.Teal--Coral-Spectrum-5-rgba { color: rgba(244, 98, 87, 1); }



/* ---- typography ---- */

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: "black";
  font-size: 16px;
  line-height: 147%;
  height: 200vh;
}

h1 {
  font-size: 8vh;
  line-height: 1em;
  margin: 0;
  color: white;
}

.landing-titles {
  color: white;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.8s both;
	        animation: slide-in-bottom 0.8s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.container h3 {
  color: white;
}


h2 {
  margin-bottom: 0;
  line-height: 1.2em;
  color: rgba(33, 140, 165, 1);
}

h3 {
  font-size: 1.2em;
}

.author {
  text-align: right;
}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  margin: 0;
  padding: 2% 0;
  color: white;
  background-color: rgba(253, 177, 172, 0.9);
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 5.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#site-footer {
  color: white;
  padding: 1em 0;
  background: rgba(186, 242, 232, 1);
  margin-top: 0;
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 1em;
}

#site-main {
  /* margin-bottom: 60px; */
  background-image: url('./images/sea-bg.jpg');
  background-size: cover;
  margin-top: 5.5em;
  margin-bottom: 0;
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  letter-spacing: 5px;
}

nav li {
  margin: 1em;
}

nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(38,191,191);
}

.container {
  padding: 20px 20px;
  background-image: url();
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.container-landing {
  padding: 12.3em 1em;
}

.loading-wrapper {
  padding: 22em 1em;
  text-align: center;


}

.container-quotes {
  padding: 10em 1em;
}

.card-container {
  margin: 20px;
  padding: 1em;
  border: 1px solid white;
  background-color: rgba(255,255,255,0.3);
  color: #218DA6;
  max-width: 40em;
  min-height: 10em;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.btn-new-quote {
  font-family: 'Montserrat', sans-serif;
  border-radius: 15em;
  font-size: 1em;
  width: 16em;
  text-align: center;
  align-self: center;
  justify-self: center;
  /* height: 4em; */
  padding: 1em;
  text-align: center;
  background-color: #FF9D75;
  color: #fff;
  border: 0;
  margin: 1em;
  text-transform: uppercase;
}
