/* ---- reset ---- */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Color Theme Swatches in Hex */
.Teal--Coral-Spectrum-1-hex { color: #BAF2E8; }
.Teal--Coral-Spectrum-2-hex { color: #218DA6; }
.Teal--Coral-Spectrum-3-hex { color: #FFFFF0; }
.Teal--Coral-Spectrum-4-hex { color: #FEB2AD; }
.Teal--Coral-Spectrum-5-hex { color: #F56358; }

/* Color Theme Swatches in RGBA */
.Teal--Coral-Spectrum-1-rgba { color: rgba(186, 242, 232, 1); }
.Teal--Coral-Spectrum-2-rgba { color: rgba(33, 140, 190, 1); }
.Teal--Coral-Spectrum-3-rgba { color: rgba(255, 255, 239, 1); }
.Teal--Coral-Spectrum-4-rgba { color: rgba(253, 177, 172, 1); }
.Teal--Coral-Spectrum-5-rgba { color: rgba(244, 98, 87, 1); }



/* ---- typography ---- */

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: "black";
  font-size: 16px;
  line-height: 147%;
  /* height: 200vh; */
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin: 0;
  color: white;
  text-align: center;
}

.landing-titles {
  color: white;
  text-align: center;
}

h2.landing-titles {
  max-width: 600px;
}

h1.landing-titles {
  font-size: 4em;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s both;
	        animation: slide-in-bottom 1s both ease-in-out;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  90%{
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.container h3 {
  color: white;
}


h2 {
  margin-bottom: 0;
  line-height: 1.2em;
  color: rgba(33, 140, 165, 1);
}

.container-loading h3 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
}

.author {
  text-align: right;
}

p {
  margin: 0;
  color: white;
}



/* ---- layout ---- */

#site-header {
  margin: 0;
  padding: 2% 0;
  color: white;
  background-color: rgba(253, 177, 172, 0.9);
  text-align: center;
  position: fixed;
  z-index: 999;;
  width: 100%;
  top: 0;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#site-footer {
  color: white;
  padding: 1em 0;
  background: rgba(186, 242, 232, 1);
  margin-top: 0;
  height: 10vh;
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 1em;
}

#site-main {
  /* margin-bottom: 60px; */
  margin-top: 4em;
  margin-bottom: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1em;
  letter-spacing: 5px;
}

nav li {
  margin: 1em;
}

nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(38,191,191);
}

.container {
  padding: 20px 20px;
  background-image: url();
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 85vh;
}

/* MAIN TITLES */
.container-landing {
  padding: 10em 1em;
  background-image: url('./images/sea-bg-bit-darker.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 80vh; */
}
/* LOADING */
.container-loading {
  text-align: center;
  padding: 10em 1em;
  background-image: url('./images/sea-bg-bit-darker.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 80vh; */
}

.icon-loading img {
  height: 6vh;
}

.container-quotes {
  padding: 10em 1em;
  background-image: url('./images/sea-bg-bit-darker.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 80vh; */
}

.icon {
  margin: 5px;
}

.icon img {
  width: 34px;
}

.icon-lightbulb img {
  margin: 10px;
  width: 40px;
}

.icon-text-wrapper {
  display: flex;
  align-items: center;
  max-width: 600px;
}

.card-container {
  margin: 20px;
  padding: 1.5em;
  border: 1px solid white;
  background-color: rgba(255,255,255,0.3);
  color: #218DA6;
  min-width: 20em;
  max-width: 40em;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
  height: 80vh;
}

.section-testimonials {
  background-image: url('./images/forest-bg-dark.jpg');
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.section-testimonials h3 {
  max-width: 600px;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-content *{
  visibility: hidden;
}
.slide-in-bottom *{
  visibility: visible;
}

.section-testimonials img {
  width: 4em;
  display: flex;
  margin-top: 10px;
  /* align-self: center; */
}

/* .container {
  padding: 20px 20px;
  background-image: url();
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 85vh;
} */

@media (min-width: 768px) {
  .container {
    /* max-width: 728px; */
    margin: 0 auto;
  }
  h1.landing-titles {
    font-size: 6em;
  }
}




/* ---- components ---- */

.btn-new-quote {
  font-family: 'Montserrat', sans-serif;
  border-radius: 15em;
  font-size: 1em;
  width: 16em;
  text-align: center;
  align-self: center;
  justify-self: center;
  /* height: 4em; */
  padding: 1em;
  text-align: center;
  background-color: #FF9D75;
  color: #fff;
  border: 0;
  margin: 1em;
  text-transform: uppercase;
}

.pulsate-fwd:hover {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
	        animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}